{% extends "@App/Base/base.html.twig" %}
{#@todo terminer page contact#}

{% block banner %}
    <div class="banner">
        <!--    SECTION -->
        <section class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">

                            <!--                       coordonnées et formulaire-->
                            <figure class="container-fluid">
                                <div class="carte container-fluid"><iframe
                                            class="container-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2824.9782082680063!2d4.914833215539437!3d44.92377867909821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f557984b8e485b%3A0xbf328a8b594d98a9!2s13+Boulevard+Franklin+Roosevelt%2C+26000+Valence!5e0!3m2!1sfr!2sfr!4v1543881568896"

                                            width="900"



                                            frameborder="0"

                                            style="border:0"

                                            allowfullscreen>

                                    </iframe>
                                </div>

                                    

                                <figcaption id="overlay2" class="overlay">

                                    <h1 id="social_reason">LA BIB'd'OccaZ...</h1>
                                    </a>
                                    <p id="ad">13 Avenue Franklin Roosevelt</p>
                                    
                                    <div id="zip_town" class="row">
                                        <div class="offset-4"></div>
                                        <p class="col-2" id="cp">26000</p>
                                        <p class="col-2" id="town">Valence</p>
                                        <div class="offset-4"></div>
                                    </div>
                                    <div id="tel_mail" class="row">
                                        <div class="offset-4"></div>
                                        <p class="col-4" id="tel">04 75 86 95 35</p>
                                        <div class="offset-4"></div>
                                    </div>

                                        <a href="#ancre1">
                                            <h1 class="bouton">
                                                GO!
                                            </h1>
                                        </a>

                                </figcaption>
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block content %}
    <section id="ancre1">
        <div class="row" id="virtual_header"></div>
        <article class="container">
            <h1>CONTACT</h1>
            <form id="form1" action="post"> </form>
            <div class="row">
                <div class="col-4">
                    <div class="field">
                        <label for="f_name" form="form1">
                            Nom
                        </label>
                        <input type="text" form="form1" name="f_name" placeholder="Indiquez votre prénom">

                    </div>
                    <div class="field">
                        <label for="l_name" form="form1">
                            Prénom
                        </label>
                        <input type="text" form="form1" name="l_name" required placeholder="Indiquez votre nom">
                    </div>
                </div>



                <div class="col-4">
                    <div class="field">
                        <label for="tel" form="form1">
                            tel
                        </label>
                        <input type="tel" form="form1" name="tel" placeholder="Indiquez votre n° de téléphone">

                    </div>
                    <div class="field">

                            <label for="email" form="form1">
                                email
                            </label>
                            <input type="email" form="form1" name="email" placeholder="Indiquez votre adresse email">


                    </div>
                </div>
                <div class="col-4">
                    <img src="{{ asset('assets/img/16.jpg') }}" alt="oldbook">
                </div>
            </div>
                <div class="row">
                    <div class="col-4">
                        <div class="field">

                            <label for="subject" form="form1">
                                sujet
                            </label>
                            <input type="text" form="form1" name="subject" placeholder="Indiquez le sujet du message">


                        </div>
                        <div class="field">
                            <label for="msg">Votre message</label>
                            <textarea name="msg" id="msg" cols="35" rows="7" placeholder="Écrivez ici votre message"></textarea>


                        </div>
                    </div>

                <div class="col-4" id="child">

                    <img src="{{ asset('assets/img/12.jpg') }}" alt="">

                </div>

                <div class="col-4" id="sub_btn">
                    <input class="bouton2" type="submit" value="ENVOYER">
                </div>


            </div>
        </article>
    </section>
{% endblock %}




