a:hover
{
  color:$or;
  text-decoration: none;
}

.bouton:hover
{
  background-color: rgba(255, 204, 51, 0.6);
  border-color:#000;
  color:#000;

}
//@todo Ne Marche pas!
#overlay:hover
{
  background-color: rgba(25,17,0,0.1);
}