a:hover
{
  color:$or;
  text-decoration: none;
}

.bouton:hover
{
  background-color: rgba(255, 204, 51, 0.6);
  border-color:#000;
  color:#000;

}

.dropdown-item p:hover, .dropdown-menu a:hover

{    color:#fff;
  background-color: rgba(0, 0, 0, 0.5);
}


#overlay:hover
{
  background-color: rgba(25,17,0,0.1);
}