<footer class="container-fluid">

    <div class="row">
        <div class="col-4 f_field">mentions légales</div>
        <div class="col-4">
            <div>
                <img class="img_foot" src="{{ asset('assets/img/logo.png') }}" alt="logo">
            </div>
        </div>
        <div class="col-4 f_field">politique de confidentialité</div>





    </div>

</footer>