
<header class="container-fluid">

        <div class="row">
            <div class="col-sm-2">
                <div class="logo"><img src="{{ asset('assets/img/logo.png') }}" alt="">
                </div>
            </div>
            <div class="offset-sm-6"></div>
            <div class="col-sm-4 nav_bar">


                        <div class="dp_menu">
                            {% include '@App/Default/livre_nav.html.twig' %}
                        </div>
                        <div class="dp_menu">
                            {% include '@App/Default/auteur_nav.html.twig' %}
                        </div>
                        <div class="dp_menu">
                            {% include '@App/Default/user_nav.html.twig' %}
                        </div>
                    </div>

            </div>
        </div>

</header>